/* @media screen and (min-width: 50em){ */
@container (min-width: 50em){
    .card{
        flex-direction: row;
    }
    .card_header img{
        max-height: initial;
    }
}
/* @media screen and (min-width: 70em){ */
@container (min-width: 70em){
    .cards_container{
        flex-direction: row;
    }
    .card-wrapper{
        flex-grow: 1;
    }
}